/* 
    GENERAL RESPONSIVE Width 979px
*/

@media (min-width: 979px) {
	.menu-button .btn-sm,
	.menu-button .upload-btn .btn-sm {
		padding: 5px;
	}


	.menu-button .btn {
		margin-top: 9px;
	}


	.menu-button ul li {
		padding-right: 0 !important;
	}


	.menu-button ul {
    	padding-right: 20px;
	}


	.navbar-form {
		padding: 0 !important;
	}


	.headline {
		margin: 0;
		font-size: 15px !important;
	}
}

/* 
    RESPONSIVE Width 979px
*/

@media (max-width: 979px) {
  	.menu-button .btn {
		margin-top: 9px;
	}


	.headline {
		margin: 0;
		font-size: 15px !important;
	}
}


/* 
    RESPONSIVE Width 768px
*/

@media (max-width: 800px) {
	a.navbar-brand img {
		width: 100px;
		height: 30px;
	}


	.navbar-toggle .icon-bar {
    	display: block;
    	width: 20px;
    	height: 1px;
	}
	

	.navbar-inverse .navbar-toggle .icon-bar {
    	background-color: #fff;
	}


	.tab-menu .navbar-toggle .icon-bar {
    	background-color: #fff;
	}


	.tab-menu li {
		color: #fff !important;
		font-size: 12px;
	}


	.headline {
		margin: 0;
	}


	.navbar-inverse .navbar-toggle:hover, 
	.navbar-inverse .navbar-toggle:focus,
	.navbar-inverse .navbar-toggle .icon-bar:hover,
	.navbar-inverse .navbar-toggle .icon-bar:focus {
    	background-color: #DE1B1B;
    	border-color: #CB1616;
    	color: #fff !important;
	}


	.navbar-inverse .navbar-toggle {
    	border-color: transparent;
	}


	.navbar-toggle {
		font-size: 10px;
		margin-top: 0 !important;
		padding-top: 0;
		padding: 9px 10px 0 10px !important;
	}


	.menu-button .btn-default:hover {
		color: #333;
	}
	

	.menu-button .btn {
		margin-top: 8px;
	}


	.menu-button ul li {
		list-style: outside none none !important;
		padding-right: 0 !important;
	}


	.menu-button .upload-btn .btn-sm {
		padding: 8px ;
	}


	.menu-button .btn-sm {
		padding: 8px 4px;
	}


	.breadcrumbs {
		padding: 0 20px !important;
	}


	.navbar-form {
		padding: 0 !important;
	}


	/* .search .input-sm,
	.search .btn-sm {
		height: 15px;
	} */

	.search-bar .btn:hover {
		color: #333;
	}


	.upload-page, 
	.login-page, 
	.register-page {
		width: 350px;
		background-color: #fff;
		font-size: 90% !important;
		color: #333 !important;
	}
}


@media (max-width: 767px) {

	 body {
        margin-top: 75px !important;
        width: 100% !important;
    }

    .logo img{
        margin-bottom: -20px;
        width: auto;
        height: 30px;
    }

    .breadcrumbs button .btn {
        font-size: 50%;
    }


    .fa-3x {
    font-size: 2em !important;
    }

	.menu-button .btn-sm {
		padding: 5px 4px;
	}


	.tab-menu {
		margin: 5px 0 0 0;
		background-color: #3c3c3c;
		color: #fff;
	}


	.nav-tabs.nav-justified > li {
    	float: left !important;
	}

	.banner {
		padding: 5px !important;
	}

	.mpadding05 {
		padding: 0 5px !important;
	}

	.carousel .item img {
		height: 250px !important;
	}
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 460px) {
	.menu-button .upload-btn .btn-sm {
		padding: 5px !important;
	}

	.padding2-right0 {
    	padding-right: 0 !important;
	}

	.post-title,
    .uploader {
        font-size: 99%;
    }

    .username {
    	font-size: 20px !important;
    }

    .breadcrumbs h2 {
    	font-size: 16px !important;
    }

    .sidebar-ad {
        min-height: 200px;
    }

    h2 {
    	font-size: 18px !important;
    }
}
